#xc-container {
  background-color: rgba(100, 100, 100, .5);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  border: 0px;
  border-radius: 32px;
  box-sizing: content-box;
  width: 64px;
  height: 128px;
  z-index: 2147483643;
  margin: 0px;
  position: fixed;
  user-select: none;
}

#xc-pageup,
#xc-pagedown {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 64px;
  line-height: 64px;
  font-family: "Open Sans", sans-serif;
  border: 0px;
  width: 50%;
  height: 50%;
  margin: 0px;
}

#xc-pageup:active,
#xc-pagedown:active {
  color: rgba(0, 0, 0, 1);
}
